* {
	margin: 0;
	padding: 0;	
}
h1, h3 {
	letter-spacing: 5px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
/*container 1*/
#main-container1 {
  background: url(../images/image-container1.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
}
.btn {
  border-radius: 20px;
  background-color: #f4511e82;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;  
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 14px 12px -12px black

}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
   border-style: none;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover {
	background-color: #f4511e;
}
.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.nav-bar {
	position: sticky;
    top: 0;
}
.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}
.nav ul {
	background-color: #333;
}

li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}
/*container 2*/
#main-container2 {
  height: 100vh;
  background: url(../images/image-container2.jpg);
  display: flex;
  background-size: 1350px 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 }

 /*left*/
.left {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 60px;
}
.side-content {
	text-align: center;
	width: 500px;
	color: #ffffffc7;
	text-shadow: 2px 2px #000000;
  font-size: 20px;
}
.side-content p {
  margin-top: 20px;
}
.side-content > h1 {
	color: #fff;
	text-shadow: 2px 2px #000000;
}
.left > .side-content > img {
  	height: 200px;	
 	border-radius: 10px;
}
.right {
 	height: 100vh;
 	width: 50vw;
	display: flex;
 	justify-content: center;
 	align-items: center;
}

/*container3*/
#main-container3 {
  	height: 100vh;
  	background: url(../images/image-container3.jpg);
  	display: flex;
 	background-size: 1350px 700px;
 	justify-content: center;
  	align-items: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
 }
 .side-content > img {
  	height: 200px;	
  	border-radius: 50%;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 15), 0 6px 20px 0 rgba(0, 0, 0, 10);
}

/*container 4*/
#main-container4 {
  	height: 100vh;
  	background: url(../images/image-container4.jpg);
 	background-size: 1350px 700px;
 	align-items: center;
 	justify-content: center;
 	display: flex;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
 	background-size: cover;
 }
.photos ul li img {
    height: 200px;
    width: 200px;
    transition: 0.4s;
    padding: 3px;
}
.photos ul li img:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 20px 0;
}
.photos ul{
    list-style-type: none;
}
.photos h1 {
	text-align: center;
	color: #ffffffc7;
	text-shadow: 2px 2px #000000;
    font-size: 50px;
}

/*Contact us*/
#main-container5 h3 {
	font-size: 50px;
	text-align: center;
	text-shadow: 2px 2px #000000;
}
#main-container5 {
  height: 100vh;
  background: url(../images/image-container5.jpg);
 	background-size: 1350px 700px;
 	align-items: center;
 	justify-content: center;
 	display: flex;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
 	background-size: cover;
 }
 input[type=text],[type=number],[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 0 4px 5px -5px black;
}

input[type=submit] {
  border-radius: 20px;
  background-color: #f4511e7d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;  
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 5px -5px black;
 border: 1px solid white;
}

input[type=submit]:hover {
  background-color: #f4511e;
}

.contact {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffffb3;
  box-shadow: 0 14px 12px -12px black
}
.nav-item {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}